.question-area {

    // .question-area__header-wrapper

    &__header-wrapper {}

    // .question-area__title

    &__title {
        color: var(--main-text-color);
        font-family: 'FiraSans-Medium';
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: justify;
    }

    // .question-area__info-wrapper

    &__info-wrapper {
        display: flex;
        gap: 20px;
    }

    // .question-area__info

    &__info {

        display: flex;
        gap: 5px;
        margin-top: 10px;

        &_title {
            color: var(--add-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: justify;
        }

        // .question-area__info_text

        &_text {
            color: var(--main-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: justify;
        }
    }

    // .question-area__line

    &__line {
        border: 1px solid var(--questions-border-color);
        margin: 25px 0px;
    }

    // .question-area__question-wrapper

    &__question-wrapper {

        border-radius: 8px;
        box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        background: var(--background-form-color);
        color: var(--main-text-color);
        font-family: 'FiraSans-Regular';
        max-height: 640px;
        width: 100%;
        overflow-y: scroll;

        // .question-area__question-wrapper_text

        &_text {
            max-width: 680px;
            font-family: 'FiraSans-Regular';
        }
    }

    // .question-area__tags

    &__tags {

        display: flex;
        align-items: center;
        gap: 5px;
        margin: 15px 0px;

        // .question-area__tags_tag

        &_title {
            color: var(--main-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: left;
        }

        &_tag {
            border-radius: 5px;
            background: var(--tags-color);
            padding: 9px 3px;
            color: var(--main-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 11px;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    // .question-area__footer-wrapper

    &__footer-wrapper {
        display: flex;
        justify-content: space-between;
    }

    // .question-area__rep

    &__rep {

        display: flex;
        align-items: center;
        gap: 10px;

        &_text {
            color: var(--main-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 24px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: left;
        }

        &_btn {
            border: none;
            border-radius: 50%;
            height: 34px;
            width: 34px;
            background-color: var(--background-color);
            cursor: pointer;
            transition: 0.3s;

            :hover {
                opacity: 30%;
            }
        }
    }

    // .question-area__user

    &__user {

        display: flex;
        flex-direction: column;
        gap: 4px;
        border-radius: 8px;
        box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
        background: var(--background-form-color);
        padding: 10px;

        &_name-avatar {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        // .question-area__user_asked-at

        &_asked-at {
            color: var(--add-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: center;
        }
    }

    // .question-area__user-avatar

    &__user-avatar {
        width: 18px;
        height: 18px;
    }

    // .question-area__user-name

    &__user-name {
        color: var(--main-text-color);
        font-family: 'FiraSans-Regular';
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0px;
        text-align: justify;
    }
}

.comments-area {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.comment {

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
    background: var(--background-form-color);
    padding: 15px;
    max-width: 80%;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    // .comment__user

    &__user {

        display: flex;
        gap: 5px;

        &_img {
            width: 40px;
            height: 40px;
            border-radius: 8px;
        }

        // .comment__user_name

        &_name {
            color: var(--main-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: justify;
        }

        // .comment__user_info-wrapper

        &_info-wrapper {
            color: var(--add-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: 0px;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        // .comment__user_rep

        &_rep {
            font-family: 'FiraSans-Medium';
            font-size: 12px;
        }
    }

    // .comment__answer

    &__answer {

        &_at {
            color: var(--add-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
        }
    }

    // .comment__main

    &__main {

        margin-bottom: 10px;
        font-family: 'FiraSans-Regular';
        color: var(--main-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;

        &_text {
            font-family: 'FiraSans-Regular';
            color: var(--main-text-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    // .comment__footer

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    // .comment__reply

    &__reply {

        display: flex;
        gap: 5px;
        cursor: pointer;

        // .comment__reply_svg

        &_text {
            color: var(--add-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: justify;
        }
    }

    &__reply-form {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        &_field {
            border: 1px solid var(--questions-border-color);
            background: var(--background-form-color);
            outline: none;
            padding: 10px;
            color: var(--main-text-color);
            font-family: 'FiraSans-Regular';
            border-radius: 8px;
            transition: 0.3s;

            &:focus {
                background-color: var(--background-color);
            }
        }
    }
}

.answer {

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
    background: var(--background-form-color);
    padding: 15px;
    max-width: 80%;

    // .answer__header

    &__header {
        display: flex;
        justify-content: space-between;
    }

    // .answer__user

    &__user {

        display: flex;
        gap: 5px;

        // .answer__user_info

        &_info {
            color: var(--add-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4px;
        }

        // .answer__user_info-wrapper

        &_info-wrapper {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }

        // .answer__usert_name

        &_name {
            color: var(--main-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0px;
            text-align: justify;
        }

        // .answer__user_rep

        &_rep {
            font-family: 'FiraSans-Medium';
            font-size: 12px;
        }

        // .answer__user_answer
    }

    // .answer__at

    &__at {

        display: flex;
        flex-direction: column;

        // .answer__at_whom

        &_whom {
            font-family: 'FiraSans-Regular';
            color: var(--add-text-color);
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
        }

        // .answer__at_whom-span

        &_whom-span {
            color: var(--main-text-color);
        }

        // .answer__at_time

        &_time {
            font-family: 'FiraSans-Regular';
            color: var(--add-text-color);
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: right;
        }
    }

    // .answer__main

    &__main {

        margin-bottom: 10px;

        // .answer__main_text

        &_text {
            font-family: 'FiraSans-Regular';
            color: var(--main-text-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    // .answer__footer

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    // .answer__reply

    &__reply {

        display: flex;
        gap: 5px;
        cursor: pointer;

        // .answer__reply_text

        &_text {
            color: var(--add-text-color);
            font-family: 'FiraSans-Regular';
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: justify;
        }
    }
}

.comment {

    // .comment__user

    &__user {

        // .comment__user_img

        &_img {}
    }
}


.comments {

    // .comments__user

    &__user {

        // .comments__user_info

        &_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        // .comments__user_answer
    }
}

.comment-add {

    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    // .comment-add__title

    &__title {
        color: var(--main-text-color);
        font-family: 'FiraSans-Regular';
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: justify;
    }

    // .comment-add__field

    &__field {
        padding: 45px 0px 10px 10px;
        outline: var(--dedicated-text-color);
        width: 100%;
        min-height: 350px;
        box-sizing: border-box;
        border: 1px solid var(--questions-border-color);
        border-radius: 8px;
        background: var(--background-form-color);
        color: var(--main-text-color);
        font-family: 'FiraSans-Regular';
        font-size: 14px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: justify;
    }

    // .comment-add__switches

    &__switches {

        position: absolute;
        top: 55px;
        left: 5px;
        display: flex;
        justify-content: space-between;
        width: 62px;
        border: 1px solid var(--questions-border-color);
        border-radius: 8px;
        padding: 4px;


        &_btn {
            border: none;
            background-color: var(--background-form-color);
            cursor: pointer;
        }
    }

    // .comment-add__btn

    &__btn {
        border-radius: 8px;
        cursor: pointer;
        border: none;
        width: 215px;
        height: 50px;
        background: var(--button-color);
        color: var(--button-text);
        font-family: 'FiraSans-Regular';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: center;
    }
}

.empty_comments {
    text-align: center;
    margin: 10px;
    font-family: 'FiraSans-Regular';
    color: var(--main-text-color);
}