.user-information {

    display: none;
    flex-direction: column;
    gap: 20px;
    max-width: 819px;

    &__title {
        color: var(--main-text-color);
        font-family: 'FiraSans-Medium';
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: justify;
    }

    // .user-information__list

    &__list {

        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px 0px 0px 20px;

        &_item {
            font-family: 'FiraSans-Regular';
            color: var(--dedicated-text-color);
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: justify
        }

        &_item::marker {
            color: var(--main-text-color);
        }
    }
}

.user-information-article {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statistic-awards {
    display: flex;
    gap: 40px;
}

.user-info {

    // .user-info__statistic

    &__statistic {

        // .user-info__statistic_title

        &_title {}

        // .user-info__statistic_wrapper

        &_wrapper {}

        // .user-info__statistic_reputation-answers

        &_reputation-answers {}

        // .user-info__statistic_reputation

        &_reputation {}

        // .user-info__statistic_number

        &_number {}

        // .user-info__statistic_text

        &_text {}

        // .user-info__statistic_answer

        &_answer {}

        // .user-info__statistic_questions

        &_questions {}
    }

    // .user-info__reward

    &__reward {

        // .user-info__reward_ring

        &_ring {}

        // .user-info__reward_text

        &_text {}

        // .user-info__reward_text-name

        &_text-name {}

        // .user-info__reward_text-level

        &_text-level {}
    }
}

.awards {

    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
        color: var(--header-footer-color);
        font-family: 'FiraSans-Medium';
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0px;
    }

    // .awards__wrapper

    &__wrapper {
        display: flex;
        gap: 20px;
    }
}

.about-us {

    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
        color: var(--header-footer-color);
        font-family: 'FiraSans-Medium';
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0px;
    }

    // .about-us__description

    &__description {
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
        background: var(--background-color);
        color: rgb(52, 73, 94);
        font-family: 'FiraSans-Regular';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.active {
    display: flex;
}