:root {
    --background-color: #FFFFFF;
    --background-search-color: #FFFFFF;
    --header-footer-color: #1A5276;
    --main-text-color: #34495E;
    --add-text-color: #808080;
    --questions-border-color: #80808080;
    --dedicated-text-color: #5DADE2;
    --button-color: #83C6F2;
    --button-text: #FFFFFF;
    --tags-color: #C4C4C4;
    --line-color: #246B99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: var(--header-footer-color);
    box-shadow: 0px 2px 8px 1px var(--header-footer-color);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header_row-container {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    box-sizing: border-box;
    border: 1px solid var(--button-color);
    border-radius: 8px;
    background: var(--background-search-color);
    width: 844px;
    height: 40px;
    display: flex;
    align-items: center;
}

.search input {
    border-radius: 8px;
    border: none;
    outline: none;
    height: 36px;
    width: 800px;
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
}

.search input::placeholder {
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
}

.search-icon {
    padding: 10px 15px 10px 10px;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 10px;

}

.btn {
    background-color: var(--button-color);
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: var(--button-text);
    font-family: 'FiraSans-Regular';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    border: 1px solid var(--button-color);
    background-color: var(--background-color);
    color: var(--button-color);
}

.btn_theme {
    border: 1px solid var(--button-text);
    border-radius: 8px;
    padding: 3px;
    height: 30px;
    cursor: pointer;
}

.main-container {
    margin-top: 20px;
    display: flex;
    gap: 42px;
}

.aside-nav {
    width: 298px;
    height: 732px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}

.nav {
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.active-nav {
    color: var(--button-color) !important;
}

.nav_up,
.nav_down {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-item--text {
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}

.main {
    width: 1100px;
}

.welcome {
    display: flex;
    gap: 15px;
}


.welcome-text {
    display: flex;
    flex-direction: column;
}

.welcome-text__title p {
    color: var(--main-text-color);
    font-family: 'FiraSans-Medium';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
}

.welcome-text__description p {
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
}

.overview {
    display: flex;
    margin: 50px 0px;
    gap: 20px;
}

.overview-card {
    border-radius: 8px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
    background: var(--background-color);
    padding: 15px;
    width: 354px;
    height: 150px;
    transition: 0.3s ease;
    cursor: pointer;
}

.overview-card:hover {
    transform: scale(1.025, 1.025);
}

.overview-card__title {
    color: var(--header-footer-color);
    font-family: 'FiraSans-Medium';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}

.reputation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reputation__content {
    display: flex;
    align-items: center;
}

.reputation__count p {
    color: var(--dedicated-text-color);
    font-family: 'FiraSans-Medium';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0px;
    margin: 0px 40px;
}

.overview__description {
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
}

.overview-span {
    color: var(--main-text-color);
}

.users__icons {
    display: flex;
    margin: 2px 0px 3px 0px;
}

.questions__content {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.user-questions__title--sub {
    color: var(--main-text-color);
    font-family: 'FiraSans-Medium';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0px;
}

.user-questions__title--down {
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
}

.user-questions__main {
    border: 1px solid var(--questions-border-color);
    border-radius: 8px;
}

.question {
    padding: 28px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--questions-border-color);
}

.question-header {
    display: flex;
    align-items: center;
    gap: 50px;
}

.question-vote {
    width: 65px;
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
}

.question-title {
    width: 920px;
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0px;
}

.question-main {
    display: flex;
    align-items: center;
    gap: 50px;
}

.question-answer {
    width: 65px;
    width: 65px;
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
}

.question-description {
    width: 920px;
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-views-tags {
    display: flex;
    gap: 10px;
}

.question-views {
    color: var(--add-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
}

.question-tags {
    display: flex;
    gap: 5px;
}

.question-tag {
    border-radius: 8px;
    padding: 4px;
    background: var(--tags-color);
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 12px;
    letter-spacing: 0px;
    transition: 0.3s;
}

.question-tag:hover {
    background-color: var(--dedicated-text-color);
    color: var(--button-text);
}

.question-meta {
    display: flex;
    align-items: center;
    gap: 5px;
}

.question-user {
    display: flex;
    align-items: center;
    gap: 2px;
}

.question-user__name {
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
}

.question-quest-count {
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
}

.question-time {
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
}

.footer {
    height: 200px;
    background-color: var(--header-footer-color);
    margin-top: 90px;
}

.footer-container {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin-bottom: 42px;
    margin-top: 15px;
}

.footer-nav {
    margin-bottom: 15px;
}

.footer-line {
    width: 100%;
    border: 1px solid var(--line-color);
    margin-bottom: 50px;
}

.footer-nav-list {
    list-style-type: none;
    display: flex;
    gap: 83px;
}

.footer-nav-list__item {
    color: var(--background-color);
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
}

.footer-contact {
    display: flex;
    gap: 15px;
}

.footer-contact__tg path {
    stroke: var(--dedicated-text-color);
}

.footer-contact__insta path {
    fill: var(--dedicated-text-color);
}

.filter {
    border-radius: 8px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
    background: var(--background-color);
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 40px;
}

.filter-top {
    display: flex;
    justify-content: space-between;
}

.filter-title {
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0px;
}

.btn-add-question {
    width: 240px;
    height: 40px;
}

.filter-down {
    display: flex;
    justify-content: space-between;
}

.filter-count {
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0px;
}

.filter-bar {
    border: 1px solid var(--questions-border-color);
    border-radius: 8px;
    display: flex;
    padding: 4px;
    gap: 5px;
}

.filter-bar__btn {
    border: none;
    border-radius: 4px;
    background: var(--background-search-color);
    height: 28px;
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
    padding: 2px 5px;
    cursor: pointer;
}

.active-btn {
    background: var(--tags-color);
}

.pagination {
    display: flex;
    max-width: 350px;
    margin: -25px auto;
    gap: 5px;
    margin-bottom: 40px;
}

.pagination-item {
    border-radius: 4px;
    background: var(--button-color);
    color: var(--button-text);
    font-family: 'FiraSans-Regular';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pagination-item-active {
    background: var(--main-text-color);
}

.pagination-points {
    color: var(--main-text-color);
    font-family: 'FiraSans-Regular';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
}

.pagination-next-btn {
    border-radius: 4px;
    border: none;
    background: var(--button-color);
    width: 126px;
    height: 30px;
    color: var(--button-text);
    font-family: 'FiraSans-Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    cursor: pointer;
}